/*allmänna regeler så header footer och typ fonter***************************************************************************/
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/*fonts...
h1
{

}

h2
{

}

h3
{

}

h4
{

}

h5
{

}

p
{

}

*/

#nav-streck
{
    background-color: #273469;
    height: 10px;
}

#nav
{
    height: 20%;
}

/*regler bara för index*/
.hero /*div som omringar p taggarna.*/
{
    background-color: #1E2749;
    height: 300px;
}

#p1 /*vänstra divven hoppas jag*/
{
    display: inline-block;
    width: 30%;
    height: auto;

    position: relative;
    left: 20%;
    top: 40px;

    color: #FAFAFF;
}

#p2 /*förklarar sig själv*/
{
    display: inline-block;
    width: 30%;
    height: auto;

    position: relative;
    left: 20%;
    top: 110px;
    
    color: #FAFAFF;
}

.cardB1, .cardB2, .cardB3 /*korten med info om vad verkstraden erbjuder för tjänser*/
{
    display: inline-block;
}

#korten
{
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 12.5%;
}

.img
{
    height: 150px;
    width: auto;
}

/*regler bara för bokning*/
table
{
    width: 80%;
    margin-left: 12.5%;
    margin-top: 10%;
    margin-bottom: 10%;
}





/*regler bara för kontakt*/






/*.navbar-brand     gör färgen på texten till en gradient typ en fade mellan 2 färger :)
{
    font-weight: bold;
    background: linear-gradient(to right, #1E2749, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}*/